    </main>
    <!-- Rodapé -->
    <br>
    <footer>
        <span>
            <div>
                <img src="src/img/Logo.png">
            </div>
            <hr>
            <div id="textEndereco">
                <p>
                    Av. 26 de Outubro, 2014 - Bela Vista - Ipatinga/MG, CEP: 35160-208
                </p>
                <p>
                    E-mail: frtecnologiadigital@gmail.com
                </p>
            </div>
        </span>
        <span>
            <h5>Contatos</h5>
            <hr>
            <ul>
                <li><a href="https://wa.me/5531983086235">WHATSAPP</a></li>
                <li><a href="mailto:frtecnologia@gmail.com">E-MAIL</a></li>
            </ul>
        </span>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script src="src/scripts/home.js"></script>
<script type="text/javascript">
$('.dropdown-toggle').on('mouseover', function (e) {
    e.preventDefault(); // Evita o comportamento padrão do link

    const dropdown = $(this).parent(); // O elemento pai do link
    const dropdownMenu = dropdown.find('.dropdown-menu'); // O menu dropdown

    // Alterna a classe 'show'
    dropdown.toggleClass('show');
    dropdownMenu.toggleClass('show');
    });

    // Fecha o dropdown ao clicar fora
    $(document).on('mouseout', function (e) {
    if (!$(e.target).closest('.dropdown').length) {
        $('.dropdown').removeClass('show');
        $('.dropdown-menu').removeClass('show');
    }
});
</script>