<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa Tech Pública</title>
</head>
<body>
<!-- Seção Hero -->
<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h2>FACILITAMOS A GESTÃO PÚBLICA ATRAVÉS DA TECNOLOGIA</h2>
        <p>Transformamos a gestão pública com tecnologia, eficiência e segurança.</p>
    </div>
</section>
<!--SOBRE A EMPRESA-->
<br>
<div class="main-container">
    <div class="fr-container" id="sobre">
        <h3 style="font-weight: 700; font-size:30px; color:#234D9D">SOBRE A FR TECNOLOGIA</h3>
        <b>Tecnologia que impulsiona o setor público</b>
        <div class="menu-fr">
            <br>
            <p>A FR Tecnologia, sediada em Ipatinga/MG, nasceu em 2022 oferecendo soluções para empresas privadas e prestando serviços de desenvolvimento para outras empresas de tecnologia.</p>
            <p>Em março de 2024, identificamos uma grande demanda no setor público por modernização, gestão de processos e comunicação eficiente. Vimos nisso uma oportunidade de transformar a administração pública por meio da tecnologia, e desde então, nos dedicamos 100% a oferecer soluções inovadoras em nuvem para atender às necessidades desse setor.</p>
            <p><b>Atualmente, estamos presentes em quatro estados, atendendo cinco órgãos públicos e expandindo nossa atuação para todo o Brasil.</b></p>
        </div>
    </div>
</div>
<br>
<div class="main-container">
    <div class="fr-container" id="produtos">
        <h3 style="font-weight: 700; font-size:30px; color:#234D9D">PRODUTOS</h3>
        <p>Produtos que facilitam a gestão pública</p>
        <div class="produtos pd">
            <span>
                <div>
                    <img src="src/img/livro-educacional.png">
                </div>
                <br>
                <div>
                    <p>GESTÃO EDUCACIONAL</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/o-email.png">
                </div>
                <br>
                <div>
                    <p>DISPARADOR DE E-MAILS</p>
                </div>
            </span>
        </div>
    </div>
</div>
<br>
<div class="main-container">
    <div class="fr-container" id="servicos">
        <h3 style="font-weight: 700; font-size:30px; color:#234D9D">SERVIÇOS</h3>
        <p>Serviços que modernizam a gestão pública</p>
        <div class="produtos pd">
            <span>
                <div>
                    <img src="src/img/site.png">
                </div>
                <br>
                <div>
                    <p>DESENVOLVIMENTO E HOSPEDAGEM DE SITES</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/o-email.png">
                </div>
                <br>
                <div>
                    <p>ARMAZENAMENTO DE E-MAILS</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/database.png">
                </div>
                <br>
                <div>
                    <p>ARMAZENAMENTO E SOLUÇÕES EM NUVEM</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/codigo.png">
                </div>
                <br>
                <div>
                    <p>DESENVOLVIMENTO DE APLICATIVOS E SISTEMAS PERSONALIZADOS</p>
                </div>
            </span>
        </div>
    </div>
</div>
<br>
<div class="main-container">
    <div class="fr-container" id="orgaos">
        <h3 style="font-weight: 700; font-size:30px; color:#234D9D">ORGÃOS PÚBLICOS QUE CONFIAM NA FR TECNOLOGIA</h3>
        <p>Presentes em 4 Estados</p>
        <div class="orgaos or">
            <span>
                <div>
                    <img src="src/img/saojoaodalagoa.png">
                </div>
                <br>
                <div>
                    <p>PREFEITURA DE SÃO JOÃO DA LAGOA</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/guaxupe.png">
                </div>
                <br>
                <div>
                    <p>CÂMARA MUNICIPAL DE GUAXUPÉ</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/natividade.png">
                </div>
                <br>
                <div>
                    <p>PREFEITURA DE NATIVIDADE</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/peixe.png">
                </div>
                <br>
                <div>
                    <p>PREFEITURA DE PEIXE</p>
                </div>
            </span>
            <span>
                <div>
                    <img src="src/img/crease.png">
                </div>
                <br>
                <div>
                    <p>CREA-SE</p>
                </div>
            </span>
            <span style="background:#233E63;">
                <div>
                    <img src="src/img/corepb.png">
                </div>
                <br>
                <div>
                    <p class="text-white">CORE-PB</p>
                </div>
            </span>
            <span style="background:#2770A8;">
                <div>
                    <img src="src/img/crtes.png">
                </div>
                <br>
                <div>
                    <p class="text-white">CRT-ES</p>
                </div>
            </span>
        </div>
    </div>
</div>